.Cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.cardo{
    border: 1px solid black;
    margin: 20px;
    margin-top: 50px;
    min-width: 300px;
    max-width: 300px;
}

.HomeCard .cardo{
    min-width: 150px;
    max-width: 150px;
}

.HomeCard{
    margin: 20px;
    background-color: rgb(233, 255, 30);
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
}

main{
    flex: 1;

}
h2{
    text-align: center;
}

.cardo .btn {
    display: flex;
    justify-content: center;
}

.card-text{
    display: flex;
    text-align: center;
}

.texto{
    text-align: center;
}